<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row">

            <div class="col-8 offset-2">
                <br>
                <h2>Create a new listing</h2>

                <form method="POST" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" placeholder="Enter Title" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>

                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">please enter a small description</div>
                    </div>
                    <div class="mb-3">

                        <label for="image" class="form-label">Upload Listing img</label>
                        <input name="listing[image]" type="file" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">price</label>
                            <input name="listing[price]" placeholder="Enter Price" class="form-control" required>
                            <div class="invalid-feedback">price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">location</label>
                            <input name="listing[location]" placeholder="Enter location" class="form-control" required>
                            <div class="invalid-feedback">location should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">country</label>
                        <input name="listing[country]" placeholder="Enter country" class="form-control" required>
                        <div class="invalid-feedback">country name should be valid</div>
                    </div> <br>

                    <button class="btn btn-dark addbtn">Add</button>
                </form>
            </div>
        </div>
    </body>